<include file="Public/header" />
<include file="Public/fixed"/>
<style>
    .fixed{
        margin-left: -15px;
    }
</style>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<div class="row">
    <div class="col-xs-12" style = 'font-size:22px;margin:10px 0 10px -15px'><h2>登录</h2></div>
</div>
<!--<p style="font-size: 22px;">登录</p>-->
<form action="{:U('Login/login');}" method="post">
    <div class="row" >
        <div class="col-xs-4" style="height:34px;text-align: left;padding-left: inherit;
      padding-right: inherit;"><h4 style="line-height: 34px;">真实姓名:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <input type="text" class="form-control" name="realname" placeholder="请输入真实姓名">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-4" style="height:34px;text-align: left;padding-left: inherit;
      padding-right: inherit;"><h4 style="line-height: 34px;">身份证号码:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;padding-top: 0.5em;">
            <div class="form-group">
                <input type="text" class="form-control" name="idcard" placeholder="请输入身份证号码">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-4" style="height:34px;text-align: left;padding-left: inherit;
      padding-right: inherit;"><h4 style="line-height: 34px;">密码:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;padding-top: 0.5em;">
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="请输入密码">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-12" style="text-align: right;">
            <input id="submit" type="submit" class="btn btn-warning" value="登录"/>
        </div>
    </div>
</form>
</div>
</body>
<script>
    //特效代码
    $("#slideDown").on('click',function(){
        if($(".slideUl").css('display') == 'none'){
            $(".slideUl").show();
        }else{
            $(".slideUl").hide();
        }
    })

    $('#submit').on('click',function(ev){
        var flag = true;

        if($("input").eq(1).val().length < 18){
            flag = false;
            alert('身份证号码长度太短');
        }if($('input').eq(2).val().length < 6){
            flag = false;
            alert('密码长度太短');
        }
        if(flag == false){
            ev.preventDefault();
            ev.cancelBubble = true;
            ev.stopPropagation();
            return false;
        }


    });

</script>
</html>