<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>团团微店后台管理</title>
    <!--                       CSS                       -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="__PUBLIC__/resources/css/reset.css" type="text/css" media="screen" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="__PUBLIC__/resources/css/style.css" type="text/css" media="screen" />
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <link rel="stylesheet" href="__PUBLIC__/resources/css/invalid.css" type="text/css" media="screen" />
    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript" src="__PUBLIC__/resources/scripts/jquery-1.3.2.min.js"></script>
    <!-- jQuery Configuration -->
    <script type="text/javascript" src="__PUBLIC__/resources/scripts/simpla.jquery.configuration.js"></script>
    <!-- Facebox jQuery Plugin -->
    <script type="text/javascript" src="__PUBLIC__/resources/scripts/facebox.js"></script>
    <!-- jQuery WYSIWYG Plugin -->
    <script type="text/javascript" src="__PUBLIC__/resources/scripts/jquery.wysiwyg.js"></script>
    <!-- jQuery Datepicker Plugin -->
    <script type="text/javascript" src="__PUBLIC__/resources/scripts/jquery.datePicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/resources/scripts/jquery.date.js"></script>
    <style type="text/css">
        #editor {overflow:scroll; max-height:300px}
    </style>
</head>
<body>
<div id="body-wrapper">
    <!-- Wrapper for the radial gradient background -->
    <div id="sidebar">
        <div id="sidebar-wrapper">
            <!-- Sidebar with logo and menu -->
            <h1 id="sidebar-title"><a href="#"></a></h1>
            <!-- Logo (221px wide) -->
            <a href="#"><img id="logo" src="__PUBLIC__/resources/images/logo.png" alt="Simpla Admin logo" /></a>
            <!-- Sidebar Profile links -->
            <div id="profile-links"> Hello, {$username}<br/><br/>
                <a href="{:U('Login/loginout');}" title="Sign Out">Sign Out</a> </div>
            <ul id="main-nav">
                <!-- Accordion Menu -->
                <li> <a href="#" class="nav-top-item <php>$class = ("__CONTROLLER__" == "/tuan/index.php/Admin/Index")? 'current':' '; echo $class;</php> "  >
                    <!-- Add the class "no-submenu" to menu items with no sub menu no-submenu-->
                    审核管理 </a>
                    <ul>
                        <li  ><a href="{:U('Index/index')}">待审核</a></li>
                        <li><a href="{:U('Index/passed')}">已通过微店管理</a></li>
                        <li><a href="{:U('Index/blackstore')}">黑名单</a></li>
                    </ul>
                </li>
                <li> <a href="#" class="nav-top-item <php>$class = ("__CONTROLLER__" == "/tuan/index.php/Admin/Topic")? 'current':' '; echo $class;</php>">
                    <!-- Add the class "current" to current menu item -->
                    专题管理</a>
                    <ul>
                        <li><a href="{:U('Topic/index')}">发布一个新专题</a></li>
                        <li><a  href="{:U('Topic/manage')}">管理专题</a></li>
                        <li><a  href="{:U('Topic/homepage')}">首页宣传图管理</a></li>
                    </ul>
                </li>
                <li> <a href="#" class="nav-top-item <php>$class = ("__CONTROLLER__" == "/tuan/index.php/Admin/Info")? 'current':' '; echo $class;</php>">
                    <!-- Add the class "current" to current menu item -->
                    信息管理</a>
                    <ul>
                        <li><a href="{:U('Info/index')}">商店信息</a></li>
                        <li><a  href="{:U('Info/user')}">用户信息</a></li>
                        <li><a  href="{:U('Info/admin')}">管理员信息</a></li>
                        <li><a  href="{:U('Info/type')}">商品类型管理</a></li>
                        <li><a  href="{:U('Info/school')}">学校管理</a></li>
                    </ul>
                </li>

            </ul>
            <!-- End #main-nav -->
            <div id="messages" style="display: none">
                <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->
                <h3>3 Messages</h3>
                <p> <strong>17th May 2009</strong> by Admin<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. <small><a href="#" class="remove-link" title="Remove message">Remove</a></small> </p>
                <p> <strong>2nd May 2009</strong> by Jane Doe<br />
                    Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est. <small><a href="#" class="remove-link" title="Remove message">Remove</a></small> </p>
                <p> <strong>25th April 2009</strong> by Admin<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. <small><a href="#" class="remove-link" title="Remove message">Remove</a></small> </p>
                <form action="#" method="post">
                    <h4>New Message</h4>
                    <fieldset>
                        <textarea class="textarea" name="textfield" cols="79" rows="5"></textarea>
                    </fieldset>
                    <fieldset>
                        <select name="dropdown" class="small-input">
                            <option value="option1">Send to...</option>
                            <option value="option2">Everyone</option>
                            <option value="option3">Admin</option>
                            <option value="option4">Jane Doe</option>
                        </select>
                        <input class="button" type="submit" value="Send" />
                    </fieldset>
                </form>
            </div>
            <!-- End #messages -->
        </div>
    </div>
    <!-- End #sidebar -->