
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!--<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<!-- <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/mobile.js"></script>
<script>
    touch.on('.img-responsive', 'swiperight', function(){
        $(".left.carousel-control").click();
    });
    touch.on('.img-responsive', 'swipeleft', function(){
        $(".right.carousel-control").click();
    });

    function type(data){
        for(var j=0;j < data.length; j++)
        {
           return data[j].type;
        }
    }
    function tag(data){
        var tags=" ";
        for(var j=0;j < data.length; j++)
        {
             tags = tags + data[j].tag_name+" ";
        }
        return tags;
    }
    $("#more").on('click', function(){
        $.ajax({
            url: "{:U('View/ajaxview')}",

            type: 'get',

            data:{},

            dataType: 'json',

            timeout: 10000,

            error: function(){alert('出现错误了...刷新一下试试!');},

            success: function(data){
                for(var i = 0; i < data.length; i++){
//                    var store = "<div class='row add' style='margin: inherit;padding-bottom: 10px;'>"+
//                    "<div class='col-xs-12'>"+
//                    "<a href='"+data[i].link+"'>"+
//                    "<div class='row' style='background: white;padding-top: 1em;display: flex;border-radius: 4px 4px 0 0;'>"+
//                    "<div class='col-xs-4' style='width: 50%;margin: auto;'>"+
//                    "<img src='"+data[i].show_pic+"' class='img-responsive' alt='Responsive image'>"+
//                    "</div>"+
//                    "<div class='col-xs-8' style='padding-left:inherit;width: 50%;'>"+
//                    "<div class='row'>"+
//                    "<div class='col-xs-12' style='color: #333333'><h4>"+data[i].store_name+"</h4></div>"+
//                    "</div>"+
//                    "<div class='row'>"+
//                    "<div class='col-xs-12' style='color:#666666'><p>商品:"+type(data[i].goods_type)+"</p></div>"+
//                    "</div>"+
//                    "<div class='row'>"+
//                    "<div class='col-xs-12' style='color:#666666'><p>学校:"+data[i].school_name+"</p></div>"+
//                    "</div>"+
//                    "<div class='row'>"+
//                    "<div class='col-xs-12' style='color:#666666'><p>标签:"+ tag(data[i].tags)+"</p></div>"+
//                    "</div>"+
//                    "<div class='row'>"+
//                    "<div class='col-xs-12' style='color:#666666'>卖家:"+data[i].nickname+"</div>"+
//                    "</div>"+
//                    "</div>"+
//                    "</div>"+
//                    "<div class='row' style='background: white;padding-bottom: 1em;border-radius: 0 0 4px 4px;'>"+
//                    "<div class='col-xs-12' style='padding-top: 1em;'>"+
//                    "<a href='{:U('Person/index')}?person_id="+data[i].person_id+"'><button class='btn btn-warning'>查看卖家风采</button></a>"+
//                    "</div>"+
//                    "</div>"+
//                    "</a>"+
//                    "</div>"+
//                    "</div>";
                    var store =
                    $("#more").before(store);
                    $("#more").prev().hide().fadeIn(1500);
                }

            }
        });
    })



    (function checkscrollside(){
        var oparent = document.getElementById('main');
        var ochild = getClassName('main','pin');

        var LastHeight = ochild[ochild.length-1].offsetTop+Math.floor(ochild[ochild.length-1]/2);
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        var bodyHeight = document.documentElement.clientHeight;
        var total = bodyHeight+scrollTop;
        return total > LastHeight ? true :false;
    })()

    window.onload = function() {
        window.scroll = function() {
            if(checkscrollside()){
                var data_wrapper = document.getElementById("data_wrapper");
                $.ajax({
                    url:"{:U('View/ajaxview')}",

                    type:'get',

                    data:{},

                    dataType: 'json',

                    timeout: 10000,

                    error: function(){alert('出现错误了...刷新一下试试!');},

                    success:function(data){
                        for(var i = 0;i<data.length;i++){
                            var store = " <div class='col-xs-6 pin' style='padding:15px 0 0 15px;float:left'>";
                            store +="<a href='#' style='width:100%;height:auto;display:inline-block'>";
                            store += "<div class='img_container' style='overflow:hidden'>";
                            store += "<img style='width:100%;' src='__PUBLIC__/images/1.png' /></div>";

                            store +="<div class='shop_name' style='width:100%;padding:10px;height:50px;background-color: white'>;
                            store +="<div class='seller_logo_container' style='overflow:hidden;display:inline-block;width:30px;height:30px;border-radius:100%'>";

                            store +="<img class='seller_logo' src='__PUBLIC__/images/buyer_logo.png' /></div>";


                           store += "<span>傻逼的零食店</span></div>";

                            store += "<div class='shop_infro' style='width:100%;padding:10px;height:50px;background-color: white'>";
                            store +="<img style='width:28px'  src='__PUBLIC__/images/view.png'/>";
                            store +="<span class='view_count'>213</span>";
                            store +="<img  style='width:24px;margin-left: 15px;'src='__PUBLIC__/images/comments.png'/>";
                            store+="<span class='comment_count'>123</span></div></a></div>";




                        waterfall('data_wrapper','pin');
                        }
                    }


                })

            }
        }
    }


    function waterfall(oParent,pin){
        var oparent = document.getElementById(oParent);
        var ochild = getClassName(oParent,pin);
        var oWidth = ochild[0].offsetWidth;
        var num = Math.floor(document.documentElement.clientWidth/oWidth);
        oparent.style.cssText = 'width:'+num*oWidth+'px;margin:0 auto';
        var _arr = [];
        for(var i = 0;i<ochild.length;i++){
            var oHeight = ochild[i].offsetHeight;
            if(i < num){
                _arr[i] = oHeight;
            }else{
                var minH = Math.min.apply(null,_arr);
                var minHIndex = getminHIndex(_arr,minH);
                ochild[i].style.position = 'absolute';
                ochild[i].style.top = minH+'px';

                ochild[i].style.left = ochild[minHIndex].offsetLeft+'px';
                _arr[minHIndex] += oHeight;
                // console.log(_arr);
            }


        }
    }

    function getminHIndex(arr,height){
        for(var i in arr){
            if(arr[i] == height){
                return i;
            }
        }
    }


    function getClassName(oparent,name){
        var oparent = document.getElementById(oparent);

        var total = oparent.getElementsByTagName('*');

        var _arr = [];
        for(var i = 0;i < total.length;i++){
            if(total[i].className == name){
                _arr.push(total[i]);
            }

        }

        return _arr;
    }

</script>
<script>
    var flag = true;
    $("#slideDown").onclick(function(){
        this.toggle( flag );
    })
    if( flag == flase ){
        $("slideUl").show();
    }if( flag == true){
        $("slideUl").hide();
    }
</script>
</body>
</html>