<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重邮创业谷</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--微信API-->
    <script src="__PUBLIC__/js/API.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/reset.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/mystyle.css">
    <script>
        WeixinApi.shareToTimeline({
            title: 'test', // 分享标题
            link: 'www.baidu.com', // 分享链接
            imgUrl: 'http://bussiness.oschina.mopaas.com/Public/images/logo.png', // 分享图标
            desc: 'ddddd' // 分享图标
        },function(){})
    </script>
    <style>
        #slideUl{
            display:none;
        }

        #active{
            color:#ff6e41;
            border-bottom: solid 3px #ff6e41;
        }
    </style>
</head>
<body>
<div class="container-fluid">

    <!-- header -->

    <div class="row header">

        <a href="{:U('Index/index')}" style="width:15%">
            <div class="col-xs-2">
                <img src="__PUBLIC__/images/logo.png" class="img-responsive" style="max-width: 42px;max-height: 42px;">
            </div>
        </a>
            <div  class="col-xs-8"  style="margin:0 auto;text-align: center">
                <span class="theme" style="height:55px;font-size:20px;font-family:'microsoft Yahei';line-height:40px;color:white">重邮创业谷</span>
            </div>


        <div class="col-xs-2" style="float:right ;  margin-top: 10px;">
            <a id="slideDown" href="javascript:void(0)"><img class="slide_down" src="__PUBLIC__/images/slide_down.png" alt=""/></a>
            <if condition="session('user.uid') !== null">
                <li class="slideUl" style="display:none;position:fixed;z-index: 1000;right:0;top: 55px"><a href="{:U('Login/loginout');}"><button class="btn btn-xs btn-warning" style="background: #ff6e41;width:60px;height:40px;padding:0">注销</button></a></li>
                <else />
            <ul class="slideUl" style="display:none;position:fixed;top:30px;right:0">
                <li><a href="{:U('Join/index');}"><button class="btn btn-xs btn-warning" style="background: #ff6e41;height:40px;padding:0">申请入驻</button></a></li>
                <li><a href="{:U('Login/index');}"><button class="btn btn-xs btn-info" style="background: #ff6e41;height:40px;padding:0">卖家登陆</button></a></li>
            </ul>
            </if>
        </div>





    </div>
