<!-- 导航-->
<div class="row">
    <div class="col-xs-12" style="text-align: center; padding-top:10px;">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
            <a href="{:U('View/index');}" class="btn btn-default" id="myactivc" role="button">商品浏览</a>
            <a href="{:U('List/index');}" class="btn btn-default"   role="button">排行榜</a>
            <a href="{:U('Search/index');}" class="btn btn-default" role="button">搜索</a>
        </div>
    </div>
</div>