<include file="Public/header" />
<include file="Public/nav" />
<include file="Public/sec_nav" />

<!--导航-->
<div class="row">
    <div class="col-xs-12 nav" style="padding:10px;height:200px">
        <ul >
            <li style="margin:15px 0" class="col-xs-3">
                <a href="#" style="display: inline-block"><img style="width:80%" src="__PUBLIC__/images/shorts.png" alt=""/>
                    <p style="margin-top:10px;">衣服鞋帽</p></a>
            </li>
            <li style="margin:15px 0"  class="col-xs-3">
                <a href="#" style="display: inline-block"><img style="width:80%" src="__PUBLIC__/images/elec.png" alt=""/>
                    <p style="margin-top:10px;">手机数码</p></a>
            </li>
            <li style="margin:15px 0" class="col-xs-3">
                <a href="#" style="display: inline-block"><img style="width:80%" src="__PUBLIC__/images/skin_care.png" alt=""/>
                    <p style="margin-top:10px;">护肤彩妆</p></a>
            </li>
            <li style="margin:15px 0"  class="col-xs-3">
                <a href="#" style="display: inline-block"><img style="width:80%" src="__PUBLIC__/images/tec.png" alt=""/>
                    <p style="margin-top:10px;">技术外包</p></a>
            </li>
            <li  style="margin:15px 0" class="col-xs-3">
                <a href="#" style="display: inline-block"><img style="width:80%" src="__PUBLIC__/images/food.png" alt=""/>
                    <p style="margin-top:10px;">生鲜美食</p></a>
            </li>
            <li style="margin:15px 0" class="col-xs-3">
                <a href="#" style="display: inline-block"><img style="width:80%" src="__PUBLIC__/images/department.png" alt=""/>
                    <p style="margin-top:10px;">日用百货</p></a>
            </li>
            <li style="margin:15px 0"  class="col-xs-3">
                <a href="#" style="display: inline-block"><img style="width:80%" src="__PUBLIC__/images/decoration.png" alt=""/>
                    <p style="margin-top:10px;">工艺装饰</p></a>
            </li>
            <li style="margin:15px 0" class="col-xs-3">
                <a href="#" style="display: inline-block"><img style="width:80%" src="__PUBLIC__/images/more_kinds.png" alt=""/>
                    <p style="margin-top:10px;">更多类别</p></a>
            </li>
        </ul>
    </div>
</div>

<!--通知-->
<div class="row">
    <div style="height:30px;background:#ffffef;margin:20px 0" class="col-xs-12">
        <img style="width:25px" src="__PUBLIC__/images/inform.png" alt=""/>
        <span style="font-size:14px;  line-height: 30px;">重邮创业谷</span>
    </div>
</div>

<!-- 店铺展示 -->
<div class="row" id="data_wrapper">
    <div class="col-xs-12" style="padding:10px;height:auto;positon:relative">
        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left">
            <a href="#" style="width:100%;height:auto;display:inline-block">
                <div class="img_container" style="overflow:hidden">
                    <img src="__PUBLIC__/images/1.png" alt=""/>
                </div>
                <div class="shop_name" style="width:100%;padding:10px;height:50px;background-color: white">
                    <div class="seller_logo_container" style="overflow:hidden;display:inline-block;width:30px;height:30px;border-radius:100%">
                        <img class="seller_logo" src="__PUBLIC__/images/buyer_logo.png" alt=""/>

                    </div>
                    <span>傻逼的零食店</span>
                </div>
                <div class="shop_infro" style="width:100%;padding:10px;height:50px;background-color: white">
                    <img style="width:28px"  src="__PUBLIC__/images/view.png" alt=""/>
                    <span class="view_count">213</span>
                    <img  style="width:24px;margin-left: 15px;" src="__PUBLIC__/images/comments.png" alt=""/>
                    <span class="comment_count">123</span>
                </div>
            </a>

        </div>

        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left">
            <a href="#" style="width:100%;height:auto;display:inline-block">
                <div class="img_container" style=" box-shadow: 0 0 6px #ccc;
        border-radius: 5px;overflow:hidden">
                    <img src="__PUBLIC__/images/2.png" alt=""/>
                </div>
                <div class="shop_name" style="width:100%;padding:10px;height:50px;background-color: white">
                    <div class="seller_logo_container" style="overflow:hidden;display:inline-block;width:30px;height:30px;border-radius:100%">
                        <img class="seller_logo" src="__PUBLIC__/images/buyer_logo.png" alt=""/>

                    </div>
                    <span>傻逼的零食店</span>
                </div>
                <div class="shop_infro" style="width:100%;padding:10px;height:50px;background-color: white">
                    <img style="width:28px"  src="__PUBLIC__/images/view.png" alt=""/>
                    <span class="view_count">213</span>
                    <img  style="width:24px;margin-left: 15px;" src="__PUBLIC__/images/comments.png" alt=""/>
                    <span class="comment_count">123</span>
                </div>
            </a>

        </div>
        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left"></div>
        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left"></div>
        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left"></div>
        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left"></div>
        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left"></div>
        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left"></div>
        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left"></div>
        <div class="col-xs-6 pin" style="padding:15px 0 0 15px;float:left"></div>




    </div>
</div>
<!--<volist name="store" id="vo">-->
<!--<div class="row" style="margin: inherit;margin-bottom: 10px;">-->
<!--<div class="col-xs-12 ">-->
<!--<a href="{$vo.link}">-->
<!--<div class="row" style="background: white;padding-top: 1em;display: flex;border-radius: 4px 4px 0 0;">-->
<!--<div class="col-xs-4" style="width: 50%;margin: auto;">-->
<!--<img src="{$vo.show_pic}" class="img-responsive" alt="Responsive image">-->
<!--</div>-->
<!--<div class="col-xs-8 " style="padding-left:inherit;width: 50%;">-->
<!--<div class="row">-->
<!--<div class="col-xs-12" style="color: #333333"><h4>{$vo.store_name}</h4></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12" style="color: #666666"><p>商品: <php>foreach($vo['goods_type'] as $v){echo $v['type'].'  ';}</php></p></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12" style="color: #666666"><p>学校: {$vo['school_name']}</p></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12" style="color: #666666"><p>标签: <php>foreach($vo['tags'] as $v){echo $v['tag_name'].'  ';}</php></p></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-12" style="color: #666666">卖家: {$vo.nickname}</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="row" style="background: white;padding-bottom: 1em;border-radius: 0 0 4px 4px;">-->
<!--<div class="col-xs-12" style="padding-top: 1em;">-->
<!--<a href="{:U('Person/index')}?person_id={$vo.person_id}"><button class="btn btn-warning">查看卖家风采</button></a>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</volist>-->

<div id="more" class="row" style="background: white;padding-bottom: 1em;margin-left: inherit;margin-right: inherit;text-align: center;border-radius: 4px 4px 0 0;"><div class="col-xs-12 btn" style="padding-top: 1em;">点击加载更多</div></div>
<include file="Public/footer" />