<include file="Public/header" />
<include file="Public/nav" />

<style>
    @font-face {font-family: 'iconfont';
        src: url('__PUBLIC__/iconfont/iconfont.eot'); /* IE9*/
        src: url('__PUBLIC__/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('__PUBLIC__/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
        url('__PUBLIC__/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('__PUBLIC__/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
    }

    .iconfont{
        font-family:"iconfont" !important;
        font-size:16px;font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<!--导航-->
<div class="row">
    <div class="col-xs-12 nav" style="padding:10px;height:200px">
        <ul >
            <li style="margin:15px 0" class="col-xs-3">
                <a href="{:U('View/view')}?goods_id=1" style="text-align:center;display: inline-block;  min-width: 50px;"><img style="width:80%" src="__PUBLIC__/images/shorts.png" alt=""/>
                    <p style="margin-top:10px;">衣服鞋帽</p></a>
            </li>
            <li style="margin:15px 0"  class="col-xs-3">
                <a href="{:U('View/view')}?goods_id=2" style="text-align:center;display: inline-block;  min-width: 50px;"><img style="width:80%" src="__PUBLIC__/images/elec.png" alt=""/>
                    <p style="margin-top:10px;">手机数码</p></a>
            </li>
            <li style="margin:15px 0" class="col-xs-3">
                <a href="{:U('View/view')}?goods_id=3" style="text-align:center;display: inline-block;  min-width: 50px;"><img style="width:80%" src="__PUBLIC__/images/skin_care.png" alt=""/>
                    <p style="margin-top:10px;">护肤彩妆</p></a>
            </li>
            <li style="margin:15px 0"  class="col-xs-3">
                <a href="{:U('View/view')}?goods_id=4" style="text-align:center;display: inline-block;  min-width: 50px;"><img style="width:80%" src="__PUBLIC__/images/tec.png" alt=""/>
                    <p style="margin-top:10px;">技术外包</p></a>
            </li>
            <li  style="margin:15px 0" class="col-xs-3">
                <a href="{:U('View/view')}?goods_id=5" style="text-align:center;display: inline-block;  min-width: 50px;"><img style="width:80%" src="__PUBLIC__/images/food.png" alt=""/>
                    <p style="margin-top:10px;">生鲜美食</p></a>
            </li>
            <li style="margin:15px 0" class="col-xs-3">
                <a href="{:U('View/view')}?goods_id=6" style="text-align:center;display: inline-block;  min-width: 50px;"><img style="width:80%" src="__PUBLIC__/images/department.png" alt=""/>
                    <p style="margin-top:10px;">日用百货</p></a>
            </li>
            <li style="margin:15px 0"  class="col-xs-3">
                <a href="{:U('View/view')}?goods_id=7" style="text-align:center;display: inline-block;  min-width: 50px;"><img style="width:80%" src="__PUBLIC__/images/decoration.png" alt=""/>
                    <p style="margin-top:10px;">工艺装饰</p></a>
            </li>
            <li style="margin:15px 0" class="col-xs-3">
                <a href="{:U('Search/index')}" style="text-align:center;display: inline-block;  min-width: 50px;"><img style="width:80%" src="__PUBLIC__/images/more_kinds.png" alt=""/>
                    <p style="margin-top:10px;">更多类别</p></a>
            </li>
        </ul>
    </div>
</div>

<!--通知-->
<div class="row">
    <div style="background:#ffffef;height:30px;margin:20px 0;">
        <div style="height:30px;
    background: url('__PUBLIC__/images/inform.png')  no-repeat;background-size: 20px;
    background-position: 45px 8px;text-align: center;"  class="col-xs-12">

            <span style="font-size:14px;  line-height: 30px;">{$tell.path}</span>


        </div>
    </div>

</div>

<!-- 店铺展示 -->
<div class="row" id="main" style="height:auto;position:relative">
        <volist name="store" id="vo">
            <div class="col-xs-6 pin" style="padding:10px;float:left;">
                <a href="{:U('Person/index')}?person_id={$vo.person.id}" style="width:100%;height:auto;display:inline-block">
                    <div class="img_container" style="overflow:hidden">
                        <img style="width:100%;max-height:300px" src="{$vo.show_pic}" alt=""/>
                    </div>
                    <div class="shop_name" style="width:100%;vertical-align:middle;padding:10px;height:50px;background-color: white">
                        <ul>
                            <li style="float:left">
                                <div class="seller_logo_container" style="overflow:hidden;display:inline-block;width:30px;height:30px;border-radius:100%">
                                     <img class="seller_logo" style="width: 100%;" src="{$vo.person.photo}" alt=""/>
                                </div>
                            </li >
                            <li style="float:left;margin-left:4px"><p style="line-height: 30px;">{$vo.store_name}</p></li>
                        </ul>


                    </div>
                    <div class="shop_infro" style="width:100%;padding:10px;height:50px;background-color: white">
                        <i style="font-size:24px" class="iconfont">&#xe7c4;</i>
                        <span class="view_count">{$vo.click_num}</span>
                        <i class="iconfont" style="margin-left:10px">&#x3438;</i>
                        <span class="comment_count">{$vo.comment_num}</span>
                    </div>
                </a>
            </div>

    </volist>


</div>

<include file="Public/footer" />