<include file="Public/header" />
		<div class="trip">
			<div class="index_left">
				<ul>
					<li><a href="list.html"><img src="__PUBLIC__/images/pro01.jpg"></a></li>
					<li><a href="list.html"><img src="__PUBLIC__/images/tuijian.png"><img src="__PUBLIC__/images/pro02.jpg"></a></li>
					<li><a href="list.html"><img src="__PUBLIC__/images/pro03.jpg"><img src="__PUBLIC__/images/meiwei.png"></a></li>
				</ul>
			</div>
			<div class="index_right">
				<ul>
					<li class="emem"><a href="list.html"><img src="__PUBLIC__/images/pro04.jpg"></a></li>
					<li class="bmbm">
						<img src="__PUBLIC__/images/zzh.png"><br>
						2013年，餐饮界大洗牌，成为人们关注并认同的话题，无疑，回归理性消费是一直以来社会所】倡导的文明...<br>
						<span><a href="about.html"><img src="__PUBLIC__/images/more.png"></a></span>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>
</body>
</html>
