<include file="Public/header" />
		<div class="trip">
			<div class="main">
				<div class="tt">搜索</div>
				<div class="tc">
					<form action="" method="post">
						<div>
							学校:<select name="" id="">
								<option value="">全部</option>
							</select><br/>
							商品类别:<select name="" id="">
								<option value="">全部</option>
							</select><br/>
							标签:<select name="" id="">
								<option value="">全部</option>
								<option value="">不搜索标签</option>
							</select><br/>
							卖家:<select name="" id="">
								<option value="">全部</option>
							</select><br/>
						</div>
						<div>
							搜索内容: <input type="text">
						</div>
						<div><input type="submit" value="搜索"></div>
					</form>
					<!-- 搜索结果展示 -->
					<div></div>
				</div>
		</div>
	</section>
</div>
</body>
</html>