<include file="Public/header" />


<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6" style="width:200px;height:200px;overflow:hidden;border-radius:100%;padding-top: 1em;padding-bottom: inherit;padding-left: inherit;padding-right: inherit;"><img src="{$person_info.photo}" style="width: 200%;" class="img-responsive"></div>
    <div class="col-xs-3" ></div>
</div>
<dov class="row">
    <div class="col-xs-12" style="text-align: center"><p style="color:#ff954f;font-size:22px">{$person_info.name}</p></div>
</dov>
<div class="row">
    <div class="col-xs-6" style="text-align: center;padding-left: inherit;"><span style="font-size: 14px;color:#666666">学院:</span><span style="color:#333333">{$person_info.major}</span></div>
    <div class="col-xs-6" style="text-align: center;padding-left: inherit;"><span style="font-size: 14px;color:#666666">专业：</span><span style="color:#333333">{$person_info.major}</span></div>
</div>

    <div  style="width:80%;padding-top: 1em;margin:10px auto;border:1px #dddddd solid;box-shadow: 1px 1px 1px rgb(133, 129, 129)"><span style="font-size:22px">个人简介</span><p>{$person_info.introduce}</p></div>
</d
<div class="row">
    <div class="col-xs-12" style="padding-top: 1em;text-align: right"><a href="{$link}"><button class="btn btn-warning">进入卖家微店</button></a></div>


</div>
<div >
    <p style="font-size: 22px;margin-left:10px;margin-bottom:10px;color:#ff9743">店铺评价(<span>29</span>)</p>
    <div class="com_his">
        <div class="container" style="border-top:1px #dddddd solid;padding:5px;border-bottom:1px #dddddd solid">
            <div style="float:left;width:40px;height:40px;border-radius:100%;overflow: hidden">
                <img src="__PUBLIC__/images/buyer_logo.png" alt=""/>
            </div>
            <div style="float:right;width:85%">
                <p style="color:#333333;margin-bottom:10px;">村里没有巧克力</p>
                <p style="color:#666666">老板人很好，东西也很喜欢</p>
                <span style="float:right" class="time">2015 04 04</span>
            </div>

        </div>
        <div class="container" style="border-top:1px #dddddd solid;padding:5px;border-bottom:1px #dddddd solid">
            <div style="float:left;width:40px;height:40px;border-radius:100%;overflow: hidden">
                <img src="__PUBLIC__/images/buyer_logo.png" alt=""/>
            </div>
            <div style="float:right;width:85%">
                <p style="color:#333333;margin-bottom:10px;">村里没有巧克力</p>
                <p style="color:#666666">老板人很好，东西也很喜欢</p>
                <span style="float:right" class="time">2015 04 04</span>
            </div>

        </div>
        <div class="container" style="border-top:1px #dddddd solid;padding:5px;border-bottom:1px #dddddd solid">
            <div style="float:left;width:40px;height:40px;border-radius:100%;overflow: hidden">
                <img src="__PUBLIC__/images/buyer_logo.png" alt=""/>
            </div>
            <div style="float:right;width:85%">
                <p style="color:#333333;margin-bottom:10px;">村里没有巧克力</p>
                <p style="color:#666666">老板人很好，东西也很喜欢</p>
                <span style="float:right" class="time">2015 04 04</span>
            </div>

        </div>
        <div class="container" style="border-top:1px #dddddd solid;padding:5px;border-bottom:1px #dddddd solid">
            <div style="float:left;width:40px;height:40px;border-radius:100%;overflow: hidden">
                <img src="__PUBLIC__/images/buyer_logo.png" alt=""/>
            </div>
            <div style="float:right;width:85%">
                <p style="color:#333333;margin-bottom:10px;">村里没有巧克力</p>
                <p style="color:#666666">老板人很好，东西也很喜欢</p>
                <span style="float:right" class="time">2015 04 04</span>
            </div>

        </div>

    </div>
    <p style="margin:20px;font-size:22px">我来评价</p>
    <input id="content" placeholder="100字以内" style="width:90%;height:30px;margin:0 auto;display:block" type="text"/>
    <button style="float:right;margin:20px" class="btn btn-warning">发表</button>
</div>
</div>
<script>
    $(".btn").onclick(function() {
        if($("#content").html().length() >100) {
            alert("您输入的内容超过100字!");
            return;

        }
        $.ajax({
            url:"##",
            type:"post",
            data:{
                "content":$("#content").html(),
                "openid":{session}
            },
            timeout: 10000,

            error: function(){alert('出现错误了...刷新一下试试!');},

            dataType:'json',

            success:function(data){
                alert(data.info);
                var comment = "<div class='container' style='border-top:1px #dddddd solid;padding:5px;border-bottom:1px #dddddd solid'>;

                comment+='<div style="float:left;width:40px;height:40px;border-radius:100%;overflow: hidden">';
                comment+='<img src="__PUBLIC__/images/buyer_logo.png" alt=""/></div>';

                comment+='<div style="float:right;width:85%">';
                comment+='<p style="color:#333333;margin-bottom:10px;">村里没有巧克力</p>';
                comment+='<p style="color:#666666">老板人很好，东西也很喜欢</p>';
                comment+='<span style="float:right" class="time">2015 04 04</span></div></div>'


            }
        })
    })
</script>
</body>
</html>