<include file="Public/header" />
<div class="trip">
    <div class="main">
        <div class="tt">店主风采</div>
        <div class="tc">
            <div style="text-align: center">
                <img src="{$person_info.photo}">
            </div>
            <div style="text-align: center">{$person_info.name}</div>
            <div style="text-align: center">{$person_info.school_name} | {$person_info.major}</div>
            <div><p>{$person_info.introduce}</p></div>
        </div>
    </div>
    </section>
</div>
</body>
</html>