index.html<include file="Public/header" />
<div id="main-content">

    <h2>Welcome</h2>

    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box">
        <!-- Start Content Box -->
        <div class="content-box-header">
            <h3>管理员列表</h3>
            <div class="clear"></div>
        </div>
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1">
                <!-- This is the target div. id must match the href of this div's tab -->

            </div>
            <table>

                    <thead>
                    <tr>
                        <th>管理员id</th>
                        <th>用户名</th>
                        <th>重置密码</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="bulk-actions align-left">
                                <form action="{:U('Info/addAdmin')}" method="post">
                                    <div>------------------添加管理员----------------------</div>
                                    <div><input type="text" placeholder="用户名" class="text-input " name="username"/></div>
                                    <div>&nbsp;</div>
                                    <div><input type="password" placeholder="密码" class="text-input " name="password"/></div>
                                    <div>&nbsp;</div>
                                    <div><input type="submit" class="button"/></div>
                                </form>
                            </div>
                            <div class="pagination">
                                <a href="">{$page}</a>
                            </div>
                            <!-- End .pagination -->
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody>
                        <volist name="info" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.username}</td>
                                <td><input type="password" placeholder="需要重置密码时请输入新密码" style="padding: 6px;border-radius: 4px;border: 1px solid #d5d5d5"/></td>
                                <td>
                                    <!-- Icons -->
                                    <a href="#" title="通过" class="pass" value="1"><img src="__PUBLIC__/resources/images/icons/tick_circle.png" alt="通过" /></a>
                                    <a href="#" title="删除" class="delete" value="2"><img src="__PUBLIC__/resources/images/icons/cross_circle.png" alt="删除" /></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>


            </table>
        </div>
        <!-- End #tab1 -->

    </div>
    <!-- End .content-box-content -->
</div>
<!-- End .content-box -->

<!-- End #main-content -->
</div>
<script>
    $(".pass").live("click",function(){
        var uid = $(this).parent().parent().children(":first").html();
        var password = $(this).parent().parent().children(":first").next().next().children(":first").val();
        $.ajax({
            url: "{:U('Info/adminUpdate')}",

            type: 'post',

            data:{"uid":uid, "password":password},

            dataType: 'json',

            timeout: 10000,

            error: function(){alert('出现错误了...刷新一下试试!');},

            success: function(data){
                if(data == 403 ){
                   alert('重置密码不能为空!');
                }
                    if(data == 200 ){
                       location.reload();
                    }
            }
        });
    });
    $(".delete").live("click",function(){
        var uid = $(this).parent().parent().children(":first").html();
        $.ajax({
            url: "{:U('Info/adminDelete')}",

            type: 'post',

            data:{"uid":uid},

            dataType: 'json',

            timeout: 10000,

            error: function(){alert('出现错误了...刷新一下试试!');},

            success: function(data){
                if(data == 403 ){
                    alert('重置密码不能为空!');
                }
                if(data == 200 ){
                    location.reload();
                }
            }
        });
    });

</script>
</body>

</html>
