<include file="Public/header" />
<div id="main-content">

    <h2>Welcome</h2>

    <!-- End .shortcut-buttons-set -->
    <div class="clear"></div>
    <!-- End .clear -->
    <div class="content-box" style="width: 150%;">
        <!-- Start Content Box -->
        <div class="content-box-header">
            <h3>店铺信息管理</h3>
            <div class="clear"></div>
        </div>
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1">
                <!-- This is the target div. id must match the href of this div's tab -->
            </div>
            <table>
                <form action="{:U('Info/storeUpdate')}" method="post">
                    <thead>
                    <tr>
                        <th>店铺名</th>
                        <th>店铺链接</th>
                        <th>商品类型</th>
                        <th>学校</th>
                        <th>管理者真名</th>
                        <th>身份证号码</th>
                        <th>联系电话</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="bulk-actions align-left">
                                <!--<select name="action">-->
                                    <!--<option value="1">修改</option>-->
                                <!--</select>-->
                                <!--<input class="button" type="submit"/> -->
                            </div>
                            <div class="pagination">
                                <a href="">{$page}</a>
                                <!--<a href="#" title="First Page">&laquo; First</a>-->
                                <!--<a href="#" title="Previous Page">&laquo; Previous</a>-->
                                <!--<a href="#" class="number" title="1">1-->
                                <!--<a href="#" class="number" title="2">2</a>-->
                                <!--<a href="#" class="number" title="3">3</a>-->
                                <!--<a href="#" class="number" title="4">4</a>-->
                                <!--<a href="#" title="Next Page">Next &raquo;</a><a href="#" title="Last Page">Last &raquo;</a>-->
                            </div>
                            <!-- End .pagination -->
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody>
                        <volist name="info" id="vo">
                            <tr>
                                <td style="display: none">
                                    <input type="checkbox" value="{$vo.store_id}" name="store_id[]"/>
                                </td>
                                <td><input type="text" value="{$vo.store_name}" name="store_name[]" style="padding: 6px;border-radius: 4px;border: 1px solid #d5d5d5"/></td>
                                <td><input type="text" value="{$vo.link}" name="link[]" style="padding: 6px;border-radius: 4px;border: 1px solid #d5d5d5"/></td>
                                <td>
                                    <select name="goods_type_id[]" style="padding: 4px;border-radius: 4px;" >
                                        <volist name="goods_type" id="goods">
                                            <option value="{$goods.id}" <php>$a = $vo['goods_id']==$goods['id']? 'selected="selected"':'';echo $a; </php> >{$goods.type}</option>
                                        </volist>
                                    </select>
                                </td>
                                <td>
                                    <select name="school_id[]" style="padding: 4px;border-radius: 4px;">
                                        <volist name="school" id="school_name">
                                            <option value="{$school_name.id}" <php>$a = $vo['school_id']==$school_name['id']? 'selected="selected"':'';echo $a; </php> >{$school_name.school_name}</option>
                                        </volist>
                                    </select>
                                </td>
                                <td>{$vo.realname}</td>
                                <td>{$vo.idcard}</td>
                                <td><input type="text" value="{$vo.telephone}" name="telephone"/></td>
                                <td>
                                    <a href="#" title="通过" class="pass" value="1"><img src="__PUBLIC__/resources/images/icons/tick_circle.png" alt="通过" /></a>
                                </td>
                            </tr>
                        </volist>
                    </tbody>
                </form>
            </table>
        </div>
        <!-- End #tab1 -->

    </div>
    <!-- End .content-box-content -->
</div>
<!-- End .content-box -->

<!-- End #main-content -->
</div>
<script>
    $(".pass").live("click",function(){
        var telephone = $(this).parent().prev().children(":first").val();
        var store_id = $(this).parent().parent().children(":first").children(":first").val();
        var store_name = $(this).parent().parent().children(":first").next().children(":first").val();
        var link = $(this).parent().parent().children(":first").next().next().children(":first").val();
        var goods_type = $(this).parent().parent().children(":first").next().next().next().children(":first").val();
        var school_id = $(this).parent().parent().children(":first").next().next().next().next().children(":first").val();
        $.ajax({
            url: "{:U('Info/storeUpdate')}",

            type: 'post',

            data:{"store_id":store_id, "store_name":store_name, "link":link, "goods_type_id":goods_type, "school_id":school_id, "telephone":telephone},

            dataType: 'json',

            timeout: 10000,

            error: function(){alert('出现错误了...刷新一下试试!');},

            success: function(data){
                if(data == 200 ){
                    location.reload();
                }
            }
        });
    });
</script>
</body>

</html>
