<include file="Public/header" />
		<div class="trip">
			<div class="main">
				<div style="  text-align: end;"><a href="#">已有微店? 点我登陆</a> </div>
				<div class="tt">申请入驻</div>
				<div class="tc">
					<form action="" method="post" enctype="multipart/form-data">
					<div>店铺名: &nbsp&nbsp&nbsp&nbsp<input type="text"></div>
					<div>经营商品类型: <select name="" id=""><option value="">123</option></select></div>
					<div>标签:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text"></div>
					<div>店铺首页图上传: <input type="file"></div>
					<div> &nbsp</div>
					<div>商户管理者信息:</div>
					<div>昵称:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text"></div>
					<div>真实姓名:  <input type="text"></div>
					<div>身份证号:  <input type="text"></div>
					<div>登陆密码:  <input type="password"></div>
					<div>学校:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select name="" id=""><option value="">111</option></select>
					<div>专业:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text">
					<div>个人风采展示: </div>	
					<div>姓名: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text"></div>
					<div>学校: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text"></div>
					<div>专业: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text"></div>
					<div>个人介绍: <input type="text"></div>
					<div>相关配图: <input type="file"></div>

					<div>&nbsp</div>
					<div style="text-align:center"><input type="submit" value="提交" style="padding: 0.5em;border-radius: 0.5em;"></div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- <div class="body_footer">
		
	</div> -->
</div>
</body>
</html>