<include file="Public/header" />
<include file="Public/fixed"/>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<div class="row">
    <div class="col-xs-12" style="padding-left: inherit"><p style="font-size: 22px;margin-bottom:10px">申请入驻</p></div>
</div>
<form  action="{:U('Join/join');}" method="post" enctype="multipart/form-data">
<div class="row" >
    <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">店铺名:</h4></div>
    <div class="col-xs-8" style="padding-left: inherit;">
        <div class="form-group">
            <input type="text" class="form-control" name="store_name" placeholder="10字以内, 必填">
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">店铺链接:</h4></div>
    <div class="col-xs-8" style="padding-left: inherit;">
        <div class="form-group">
            <input type="text" class="form-control" name="link" placeholder="请填写您的网络平台链接,必填">
        </div>
    </div>
</div>
    <div class="row" style="padding-bottom: 1em">
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">商家类型:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <select class="form-control" name="person_school">
                <volist name="school_1" id="school_1">
                    <option value="{$school_1.id}">{$school_1.school_name}</option>
                </volist>
            </select>
        </div>
    </div>
<div class="row" >
    <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">经营商品类型:</h4></div>
    <div class="col-xs-8" style="padding-left: inherit;">
        <select class="form-control" name="goods_type">
            <volist name="goods_type" id="type">
                <option value="{$type.id}">{$type.type}</option>
            </volist>
        </select>
    </div>
</div>
<div class="row" style="padding-top: 0.5em;">
    <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">标签1:</h4></div>
    <div class="col-xs-8" style="padding-left: inherit;">
        <div class="form-group">
            <input type="text" class="form-control" name="tag[]" placeholder="向用户介绍店铺业务,3字以内,必填">
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">标签2:</h4></div>
    <div class="col-xs-8" style="padding-left: inherit;">
        <div class="form-group">
            <input type="text" class="form-control" name="tag[]" placeholder="3字以内, 选填">
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">标签3:</h4></div>
    <div class="col-xs-8" style="padding-left: inherit;">
        <div class="form-group">
            <input type="text" class="form-control" name="tag[]" placeholder="3字以内, 选填">
        </div>
    </div>
</div>
<div class="row" >
    <div class="form-group">
    <label><h4>店铺首页图(jpg/jpeg格式, 3M以内):</h4></label>
    <input type="file" name="store_pic">
    </div>
</div>

<div class="row">
    <div class="col-xs-12" style="padding-left: inherit"><p style="font-size: 22px;margin-bottom:10px">商户信息</p></div>
</div>

    <div class="row" >
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">昵称:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <input type="text" class="form-control" name="nickname" placeholder="8字以内">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">真实姓名:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <input type="text" class="form-control" name="realname" placeholder="请输入真实姓名">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">身份证号:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <input type="text" class="form-control" name="id_num" placeholder="请输入身份证号码">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">登录密码:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="请输入6位以上密码">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">确认密码:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <input type="password" class="form-control" name="passwordagain" placeholder="请确认密码">
            </div>
        </div>
    </div>

<div class="row" >
    <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">联系方式:</h4></div>
    <div class="col-xs-8" style="padding-left: inherit;">
        <div class="form-group">
            <input type="text" class="form-control" name="telephone" placeholder="请输入手机号码">
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-xs-12" style="padding-left: inherit"><p style="font-size: 22px;margin-bottom:10px">个人风采</p></div>
    </div>
    <div class="row" >
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">姓名:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <input type="text" class="form-control" name="person_name" placeholder="请输入姓名">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">学院:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <input type="text" class="form-control" name="academy" placeholder="请输入学院">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">专业:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <input type="text" class="form-control" name="person_major" placeholder="8字以内">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-3" style="height:34px;text-align: left;padding-left: inherit;
  padding-right: inherit;"><h4 style="line-height: 34px;">个人介绍:</h4></div>
        <div class="col-xs-8" style="padding-left: inherit;">
            <div class="form-group">
                <textarea name="person_introduce" class="form-control" cols="30" rows="10" wrap="hard" placeholder="300字以内,可以介绍一下您的产品, 店铺, 创业想法, 也可以留下您的联系方式"></textarea>
            </div>
        </div>
    </div>
<div class="row" >
    <div class="form-group">
        <label><h4>风采照片(jpg/jpeg格式, 3M以内):</h4></label>
        <input type="file" name="person_pic">
    </div>
</div>

<div class="row" style="margin-bottom: 30px;">
    <div class="col-xs-12" style="text-align: right;"><input id="join" type="submit" class="btn btn-warning" value="申请"/></div>
</div>
</form>
</div>
<script>
    $("#slideDown").on('click',function(){
        if($(".slideUl").css('display') == 'none'){
            $(".slideUl").show();
        }else{
            $(".slideUl").hide();
        }
    })

    $('#join').on('click',function(ev){
        var flag = true;

        if($("input").eq(8).val().length < 18){
            flag = false;
            alert('身份证号码长度太短');
        }if($('input').eq(9).val().length < 6){
            flag = false;
            alert('密码长度太短');
        }
        if(flag == false){
            ev.preventDefault();
            ev.cancelBubble = true;
            ev.stopPropagation();
            return false;
        }


    });


</script>
</body>
</html>