<include file="Public/header" />
		<div class="trip">
			<div class="main">
                <div style="  text-align: end;">
                    <span><a href="{:U('Join/index');}">卖家申请</a></span> |
                    <span><a href="{:U('Login/index');}">卖家登陆</a> </span>
                </div>
				<div class="tt">商品浏览</div>
				<div class="tc">
					<form action="{:U('View/view');}" method="post">
						<div>
							学校:<select name="school_id" class="input-select">
								<option value="0">全部</option>
								<volist id="vo" name="school">
									<option value="{$vo.id}">{$vo.school_name}</option>
								</volist>
							</select><br/>
							商品类型:<select name="goods_id" class="input-select">
								<option value="0">全部</option>
								<volist id="vo" name="goods">
									<option value="{$vo.id}">{$vo.type}</option>
								</volist>
							</select>
							<input type="submit" value="浏览" class="input-submit">
						</div>
					</form>
					<!-- 随便看看 -->
						<volist name="store" id="vo">
							<div class="store">
								<a href="{$vo.link}">
									<div style="float: left;display: block;width: 40%; margin-top: 2em;margin-left: 1em;">
                                        <div><img src="{$vo.show_pic}"></div>
                                        <div>店铺名: <span  style="color: #337ab7; font-size: 1.3em;">{$vo.store_name}</span> </div>
									</div>
									<div style="float: left;display: inline;padding-left: 1em; width: 40%">
										<ul>
											<li>
												商品:
												<php>foreach($vo['goods_type'] as $v){echo $v['type'].'  ';}</php>
											</li>
											<li>
												标签:
												<php>foreach($vo['tags'] as $v){echo $v['tag_name'].'  ';}</php>
											</li>
											<li>店主: {$vo.nickname} </li>
											<li><a href="{:U('Person/index')}?person_id={$vo.person_id}"><button style="color: #fff; font-size: 2em; border: 1px solid transparent;border-radius: 4px;background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);padding: 0.3em;font: inherit;">店主风采展示</button></a></li>
                                        </ul>
									</div>
								</a>
							</div>
						</volist>
				</div>
		</div>
	</section>
</div>
</body>
</html>