<include file="Public/header" />
<include file="Public/fixed"/>
<style>
    .fixed{
        margin-left: -15px;
    }
</style>
<div class="row" style="text-align: center;">
    <div class="col-xs-12" style="padding: 1em;font-size: 2em;"><h2>{$data.title}</h2></div>
</div>
<div class="row" style="text-align: center;">
    <div class="col-xs-12"><img src="{$data.pic}" class="img-responsive"></div>
</div>
<div class="row" style="padding-top: 2em;">
    <div class="col-xs-12">
        <p>{$data.content}</p>
    </div>
</div>

</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!--<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<!-- <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/mobile.js"></script>
<script>
	    $("#slideDown").on('click',function(){
        if($(".slideUl").css('display') == 'none'){
            $(".slideUl").show();
        }else{
            $(".slideUl").hide();
        }
    })
</script>
</body>
</html>