<include file="Public/header" />
<include file="Public/nav" />
<div class="row">
    <div class="col-xs-12" style="text-align: center; padding-top:10px;">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
            <a href="{:U('View/index');}" class="btn btn-default"  role="button">商品浏览</a>
            <a href="{:U('List/index');}" class="btn btn-default"  id="myactivc" role="button">排行榜</a>
            <a href="{:U('Search/index');}" class="btn btn-default" role="button">搜索</a>
        </div>
    </div>
</div>
<!-- 排序方式 -->
    <div class="row" style="padding-top:10px;padding-bottom:10px;text-align: center;">

        <div class="col-xs-6" style="padding-right: inherit">
            <div class="radio">
                <label>
                    <a href="{:U('List/index');}" style="color: #000000">
                        <input type="radio" name="order_id" value="0" checked>
                            最热店家Top10
                    </a>
                </label>
            </div>
        </div>

        <div class="col-xs-6" style="padding-left: inherit;">
            <div class="radio">
                <label>
                    <a href="{:U('List/tag');}" style="color: #000000">
                        <input type="radio" name="order_id" value="1">
                    最热标签Top10
                    </a>
                </label>
            </div>
        </div>
    </div>
<!-- 店铺展示 -->
<volist name="store" id="vo">
    <div class="row" style="margin: inherit;padding-bottom: 10px;">
        <div class="col-xs-12">
            <div class="row" style="background: white;padding-top: 1em;display: flex;">
                <div class="col-xs-4" style="width: 50%;margin: auto;margin-right: inherit;">
                    <img src="{$vo.show_pic}" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-xs-8" style="padding-left:inherit;width: 50%;">
                    <div class="row">
                        <div class="col-xs-12"><h4>{$vo.store_name}</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><p>商品: <php>foreach($vo['goods_type'] as $v){echo $v['type'].'  ';}</php></p></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><p>标签: <php>foreach($vo['tags'] as $v){echo $v['tag_name'].'  ';}</php></p></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">卖家: {$vo.nickname}</div>
                    </div>
                </div>
            </div>
            <div class="row" style="background: white;padding-bottom: 1em;">
                <div class="col-xs-12" style="padding-top: 1em;">
                    <a href="{:U('Person/index')}?person_id={$vo.person_id}"><button class="btn btn-warning">查看卖家风采</button></a>
                </div>
            </div>
        </div>
    </div>
</volist>
<include file="Public/footer" />
<script>$('input').change(function(){
    console.log($(this).parent().attr('href'));
    var link = $(this).parent().attr('href');
    window.location.href=link;
})</script>