<include file="Public/header" />
<include file="Public/nav" />
<include file="Public/sec_nav" />
<style>
    .clear:after{
        content:"";
        height:0;
        clear:both;
        display:block;
    }
</style>

<!-- 排序方式 -->
    <div class="row" style="padding-top:10px;padding-bottom:10px;text-align: center;">

        <div class="col-xs-6" style="padding-right: inherit">
            <div class="radio">
                <label>
                    <a href="{:U('List/index');}?school_id={:I('param.school_id')}" style="color: #000000">
                        <input type="radio" name="order_id" value="0" checked>
                            最热店家Top10
                    </a>
                </label>
            </div>
        </div>

        <div class="col-xs-6" style="padding-left: inherit;">
            <div class="radio">
                <label>
                    <a href="{:U('List/tag');}?school_id={:I('param.school_id')}" style="color: #000000">
                        <input type="radio" name="order_id" value="1">
                    最热标签Top10
                    </a>
                </label>
            </div>
        </div>
    </div>
<!-- 店铺展示 -->


    <div   style="widty:80%;margin:10px auto;background-color:white;border-radius:5px;box-shadow: 0 0 6px #ccc">
        <a href="#" style="display: inline-block;width:100%">
            <div class="clear" style="margin:20px">
                <div style="width:20%">
                <div  style="float:left;width:50px;height:50px;border-radius:100%;overflow: hidden">
                    <img src="__PUBLIC__/images/buyer_logo.png" swtyle="width: 50px;" alt=""/>
                </div>
                </div>
                <div style="float:right;height:50px;width:78%">
                    <p class="store_name" style="font-size: 22px;margin-bottom:4px;color:#333333">村里没有巧克力</p>
                    <p style="margin:4px" >学校：<span class="kind">淘宝商家</span></p>
                    <p style="margin:4px" class="intro">简介：<span class="detail">芭芭拉</span></p>
                </div>
            </div>

            <div style="width:100%;margin-left:20px;overflow:hidden;margin-top:25px;">
                <div style="width:51%;float:left">
                    <img style="width:20px;" src="__PUBLIC__/images/tag.png" alt=""/>
                    <span style="color:#999999" class="tags">便宜 实用 好看 实惠</span>

                </div>
                <div style="width:49%;float:right">
                    <span style="overflow:hidden">店主：<span class="buyer" style="color:#479eff">村里没有巧克力</span></span>
                </div>
            </div>
            <div class="shop_infro" style="width:100%;height:50px;background-color: white">
                <div style="width:100%;height:45px;background-color:#fbfbfb;border-top:1px solid #dddddd;padding-top:4px;margin-top:10px;float:right
                ">
                    <div style="width:180px;;float:right">
                        <i class="iconfont">&#xe605;</i>
                        <!--<img style="width:28px"  src="__PUBLIC__/images/view.png" alt=""/>-->
                        <span class="view_count">213</span>
                        <!--<img  style="width:24px;margin-left: 15px;" src="__PUBLIC__/images/comments.png" alt=""/>-->
                        <i class="iconfont">&#xe7c4;</i>
                        <span class="comment_count">123</span>
                        <button class="btn btn-warning">进入店铺</button>
                    </div>

                </div>

            </div>
        </a>
    </div>

<volist name="store" id="vo">
    <div class="row" style="margin: inherit;padding-bottom: 10px;">
        <div class="col-xs-12">
            <a href="{$vo.link}">
                <div class="row" style="background: white;padding-top: 1em;display: flex;">
                    <div class="col-xs-4" style="width: 50%;margin: auto;">
                        <img src="{$vo.show_pic}" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="col-xs-8" style="padding-left:inherit;width: 50%;">
                        <div class="row">
                            <div class="col-xs-12" style="color: #333333"><h4>{$vo.store_name}</h4></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="color: #666666"><p>商品: <php>foreach($vo['goods_type'] as $v){echo $v['type'].'  ';}</php></p></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="color: #666666"><p>学校: {$vo['school_name']}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="color: #666666"><p>标签: <php>foreach($vo['tags'] as $v){echo $v['tag_name'].'  ';}</php></p></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="color: #666666">卖家: {$vo.nickname}</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="background: white;padding-bottom: 1em;">
                    <div class="col-xs-12" style="padding-top: 1em;">
                        <a href="{:U('Person/index')}?person_id={$vo.person_id}"><button class="btn btn-warning">查看卖家风采</button></a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</volist>
<include file="Public/footer" />
<script>$('input').change(function(){
    console.log($(this).parent().attr('href'));
    var link = $(this).parent().attr('href');
    window.location.href=link;
})</script>